
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>The Free Education-Plan for Mobile Website Template </title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css2/header-second-bar.css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/examples.css" type="text/css" media="all" />
<script src="js/jquery-1.8.1.min.js"></script>
<script src="js/jquery.carouFredSel-6.0.5-packed.js"></script>
<script type="text/javascript" language="javascript">


			$(function() {
				
$("#foo1").carouFredSel();
$("#foo2").carouFredSel({
	width	: 1000,
	items	: 8,
	scroll	: 4
});
$("#foo3").carouFredSel({
	items 		: 1,
	direction	: "up",
	auto : {
		easing		: "elastic",
		duration	: 1000,
		timeoutDuration: 2000,
		pauseOnHover: true
	}
}).find(".slide").hover(
	function() { $(this).find("div").slideDown(); },
	function() { $(this).find("div").slideUp();	}
);
			});
</script>
	<script type="text/javascript" language="javascript">
			var siteroot = "../";
	</script>
	
	
</head>
<body>
<header class="header-two-bars">
            <div class="header-first-bar">

                <div class="header-limiter">

                    <h1><a href="#">Ministry Of <span>Education</span></a></h1>
				
                    <nav>
                        <a href="#" class="selected">Home</a>
                        <a href="#">Contact</a>
                        <a href="#">About</a>
                    </nav>
					  
 
                    
					 
					 <ul class="nav navbar-nav navbar-right">
                  <li><a href="http://www.jquery2dotnet.com">Sign Up</a></li>
                  <li class="dropdown">
                     <a href="http://www.jquery2dotnet.com" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
                     <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                        <li>
						<div class="form-group">
                                       <button type="submit" class="btn btn-info btn-block btn-md">User Login</button>
									   <button type="submit" class="btn btn-info btn-block btn-md">Administration login</button>
									   <button type="submit" class="btn btn-info btn-block btn-md">Staff login</button>
                        </div>
                           
                        </li>
                        <li class="divider"></li>
                        <li>
                           <!--input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Sign In with Google">
                           <input class="btn btn-primary btn-block" type="button" id="sign-in-twitter" value="Sign In with Twitter"-->
                        </li>
                     </ul>
                  </li>
               </ul>
	  
	  
					<!--a class="subcribe">
						<form>
							 <input type="text" class="textbox" value="Enter Your text " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your text';}">
							 <input type="submit" value="Search!" >
						</form>
					</a-->
	    </div>
                </div>

            </div>
<div class="header-bg">
<div class="wrap">
<div class="wrapper">
   <div class="header">
    
       
   </div>
<div class="transparent p1">
   	<div class="wrap">
					<div class="html_carousel">
						<div id="foo3">
							<div class="slide">
								<img src="images/e1.jpg" alt="carousel 1" width="1000" height="450"/>
								<div>
									<h4>Infinity</h4>
									<p>A concept that in many fields refers to a quantity without bound or end.</p>
								</div>
							</div>
							<div class="slide">
								<img src="images/e2.jpg" alt="carousel 2" width="1000" height="450"  />
								<div>
									<h4>Circular journey</h4>
									<p>An excursion in which the final destination is the same as the starting point.</p>
								</div>
							</div>
							<div class="slide">
								<img src="images/e3.jpg" alt="carousel 3" width="1000" height="450" />
								<div>
									<h4>jQuery</h4>
									<p>jQuery is a JavaScript library designed to simplify the client-side scripting.</p>
								</div>
							</div>
							<div class="slide">
								<img src="images/e4.jpg" alt="carousel 4" width="1000" height="450" />
								<div>
									<h4>Carousel</h4>
									<p>A carousel is an amusement ride consisting of a rotating circular platform with seats.</p>
								</div>
							</div>
						</div>
						</div>
						</div>
						</div>
						</div>
						</div>
					</div>

				<div class="clearfix"></div>
				
<div class="wrap">
<div class="wrapper">
   <div class="content">
		
   		

<div class="well well-lg"><a  style="font-size:40px; font-style:Lucida Handwriting; text-align=center;"  ><span>Grade one Entry Qualification Evolution System</span></a></div>
<h2> </h2>
<br>
<br>
		<div class="grids">	
			<div class="bot-grid">
					<!--img src="images/pic.jpg" alt="" /-->
					<h3>Our Instructions</h3>
					<p>soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; </p>
					<a href="#"><p><span class="one">Read More</span></p></a>
			</div>
			<div class="bot-grid1">
					<!--img src="images/pic1.jpg" alt="" /-->
					<h3>Our Support</h3>
					<p>soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; </p>
					<a href="#"><p><span class="two">Read More</span></p></a>
			</div>
			<div class="bot-grid2">
					<!--img src="images/pic2.jpg" alt="" /-->
					
					<h3>Our Guarantee</h3>
					<p>soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; </p>
					<a href="#"><p><span class="three">Read More</span></p></a>
			</div>
			<div class="bot-grid3">
					<!--img src="images/pic3.jpg" alt="" /-->
					<h3>Our Reliability</h3>
					<p>soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; </p>
					<a href="#"><p><span class="four">Read More</span></p></a>
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="well well-sm"><a  style="font-size:40px; font font-style:Lucida Handwriting; text-align=center;"  ><span>Latest News</span></a></div>
		
		<div class="grids">	
			<div class="bot-grid">
					<!--img src="images/pic.jpg" alt="" /-->
					<h3>Our Instructions</h3>
					<p>soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; </p>
					<a href="#"><p><span class="one">Read More</span></p></a>
			</div>
			<div class="bot-grid1">
					<!--img src="images/pic1.jpg" alt="" /-->
					<h3>Our Support</h3>
					<p>soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; </p>
					<a href="#"><p><span class="two">Read More</span></p></a>
			</div>
			<div class="bot-grid2">
					<!--img src="images/pic2.jpg" alt="" /-->
					<h3>Our Guarantee</h3>
					<p>soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; </p>
					<a href="#"><p><span class="three">Read More</span></p></a>
			</div>
			<div class="bot-grid3">
					<!--img src="images/pic3.jpg" alt="" /-->
					<h3>Our Reliability</h3>
					<p>soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; </p>
					<a href="#"><p><span class="four">Read More</span></p></a>
			</div>
			<div class="clear"></div>
		</div>
</div>
</div>	
</div>
<div class="footer-top">
<div class="wrap">
	<div class="footer">
			
		</div>	
		</div
</div>
<div class="footer-bottom">
<div class="wrap">
	<div class="footer-text">
		<div class="copy">
			 <p>&copy; 2013 Education-Plan. All Rights Reserved | Design by</p>
        </div>
		<div class="subcribe">
		<form>
	         <input type="text" class="textbox" value="Enter Your text " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your text';}">
	         <input type="submit" value="Search Go!" >
	    </form>
	    </div>
    <div class="clear"></div>
		</div>	
		</div>	
</div>
</body>
</html>

